body, html, .container {
  height: 100%; }

.container {
  width: 970px !important; }

.buddy-list .contact {
  display: inline-block;
  width: 100%; }
  .buddy-list .contact .avatar {
    float: left;
    width: 50px;
    height: 50px; }
  .buddy-list .contact .description {
    float: left;
    padding-left: 10px; }
    .buddy-list .contact .description .list-group-item-text {
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis; }

#chat {
  height: 100%;
  overflow: scroll; }

.buddy-frame, .chat-frame {
  position: relative;
  height: 100%; }

.scroller {
  height: 100%;
  overflow-y: hidden;
  position: relative; }

.panel-default {
  position: relative;
  height: 100%;
  margin: 0; }

.navbar-messagebox {
  position: absolute;
  padding: 10px;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 56px; }

.messagebox-frame {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 56px; }

.messagebox {
  position: relative;
  height: 100%; }

.messagelist {
  position: absolute;
  bottom: 0;
  max-height: 100%; }

.message {
  display: inline-block;
  width: 100%;
  padding: 0px 5px;
  z-index: 300; }
  .message .bubble {
    max-width: 60%;
    font-size: 16px;
    background-color: #F2F2F2;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top; }
    .message .bubble img, .message .bubble iframe {
      width: 100%; }
  .message .bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px; }
  .message .you {
    float: left;
    margin: 5px 10px 5px 20px; }
  .message .you::before {
    left: -9px; }
  .message .me {
    float: right;
    margin: 5px 20px 5px 10px;
    background-color: #5597da;
    color: white; }
    .message .me a {
      color: #ddd; }
  .message .me::before {
    right: -9px;
    background-color: #5597da; }
  .message .typing {
    opacity: 0.7;
    font-size: 14px;
    color: #888; }
  .message .typing::before {
    display: none; }
  .message .time {
    margin: 0 0;
    margin-top: 25px;
    background-color: transparent;
    color: #666;
    font-weight: 500;
    font-size: 12px;
    font-style: italic; }
  .message .time.me {
    float: right; }
  .message .time.you {
    float: left; }
  .message .avatar {
    width: 40px;
    height: 40px;
    margin: 5px 0; }
  .message .avatar.me {
    float: right; }
  .message .avatar.you {
    float: left; }
  .message .alert-disconnect {
    margin-top: 20px; }
